section{
    text-align: center;
}

.paper {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: 1px solid lightgray;
    border-bottom-width: 0;
    border-left-width: 0;
}

.cell{
    margin: 0;
    padding: 0;
    height: 10px;
    width: 10px;
    border: 1px solid lightgray;
    border-top-width: 0;
    border-right-width: 0;
    display: inline-block;
    float: left;
}

.emptyCell {
    background-color: white;
}

.youngCell {
    background-color: #FF80AB;
    border-radius: 50%;
}

.oldCell {
    background-color: #FF4081;
    /* background-color: #F50057; */
    border-radius: 50%;
}

.cell:hover{
    background-color: pink;
    border-radius: 50%;
}